<a href="https://colab.research.google.com/github/JuliusCaezarEugenio/CPEN21-A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Loop Statement

- loop control statements in Python are used to perform looping operations until the given condition is True. Control comes out of the loop statements once condition becomes False

###Types

####1. For Loop statement 
- is used fo iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string), similar to while statement

Example 1:

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2 (the break statement)

In [4]:
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3 (print after break)

In [9]:
for x in week:
  if x=="Thursday":
   break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4 (Looping through a string)

In [10]:
for x in "week":
  print(x)

w
e
e
k

####The Range() Function

- to loop through a set of code specified number of times, we can use the range() function

In [14]:
for x in range(6): #Example 1
  print(x)

0
1
2
3
4
5

In [15]:
for x in range(2,6): #Example 2
  print(x)

2
3
4
5

####Nested Loops

In [16]:
adjective=["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

###2. Python While Loop

In [21]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

Example 1: The break statement

In [22]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1    #Assignment operation for addition

1
2
3

In [27]:
i=1
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

2
4
5
6

####The Else Statement

In [28]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

###Application 1

Create a Python program that displays:   
Hello 0-10

In [35]:
hello = ["Hello 0", "Hello 1", "Hello 2", "Hello 3", "Hello 4", "Hello 5", "Hello 6", "Hello 7", "Hello 8", "Hello 9", "Hello 10"]
for x in hello:
  print(x)

i=0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###Create a Python program that displays integers less than 10 but not less than 3

In [46]:
i=3
while i<10:
  print(i)
  if i==10:
    break
  i+=1

3
4
5
6
7
8
9